{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "Core REST Client {{appName}}",
  "author": "Joe Tyson @joetyson",
  "keywords": [
    "{{npmName}}"
  ],
  "license": "Apache-2.0",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
  "scripts" : {
    "build": "tsc --outDir dist/",
    "prepublishOnly": "npm run build"
  },
  "dependencies": {
    "axios": "^0.18.0"
  },
  "peerDependencies": {
  },
  "devDependencies": {
    "@types/node": "^10.12.0",
    "typescript": "^2.4"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  }
{{/npmRepository}}
}
